.top-courses {
    margin-bottom: 100px;
}

.top-courses .top-title h1 {
    color: var(--white);
    text-align: center;
    margin-block: 50px;
}

.top-courses .boxses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.top-courses .boxses .box {
    background-color: var(--navbar);
    border: 1px solid var(--border);
    width: 260px;
    cursor: pointer;
}

.top-courses .boxses .box:hover {
    border: 1px solid var(--main-color);
}

.top-courses .boxses .box img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.top-courses .boxses .box h1 {
    color: var(--white);
    text-align: center;
    font-size: 25px;
    padding: 10px;
    border-radius: .5rem;
}

